.DS_Store
.Rhistory
.Rproj.user
scrnaseq.html
scrnaseq_files
.Rhistory
sample_reads/
ref/rat_ref
ref/Rattus_norvegicus_mRatBN7_2/
fastqc_results/
fastqc/scrnaseq
**.zip
**.html
**.sif 
e*.txt
o*.txt
cellranger/*.txt